[submodule "frontend"]
	path = frontend
	url = https://github.com/uvdevelop26/resonancia-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/uvdevelop26/resonancia-backend.git
